<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="blood.png" />
  <title>BLOOD BANK - Guidelines </title>

  <!--     Fonts and icons     -->
  
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
	<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css "/>
	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_b315629468470fd1230c5a1bec6c00575'
    });
</script>

   <link href="footer.css" rel="stylesheet" />

  <link rel="stylesheet" href="creativetim.min.css" type="text/css">
  
</head>


<body class="bg-white" id="up">

  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-default navbar-light position-sticky top-0 shadow py-0">
    <div class="container">
             <ul class="navbar-nav navbar-nav-hover align-items-lg-center ">
          <li class="nav-item dropdown">
            <a href="/" class=" navbar-brand mr-lg-5" >
              <img class="img img-fluid img-responsive" src="blood.png">
              <img class="img img-fluid img-responsive" src="bb1.png">        			  

            </a>
  
          </li>
        </ul>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="navbar-collapse collapse bg-default" id="navbar_global">
        <div class="navbar-collapse-header ">
          <div class="row ">
            <div class="col-10 collapse-brand ">
              <a href="/">
                <img src="bb1.png">
              </a>
            </div>
            <div class="col-2 collapse-close bg-danger">
              <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>

        <ul class="navbar-nav align-items-lg-center mr-auto">


            <li class="nav-item">
                    <a href="/bank"   class="nav-link">
                        <span class="text-white nav-link-inner--text"><i class="text-white fas fa-users"></i> Donors</span>
                    </a>
                </li>

                 <li class="nav-item">
                    <a href="/guidelines"   class="nav-link">
                        <span class="text-white nav-link-inner--text"><i class="text-white fas fa-heart"></i> Guidelines</span>
                    </a>
								
                </li>
				
				<li class="nav-item">
                    <a href="/faq"   class="nav-link">
                        <span class="text-white nav-link-inner--text"><i class="text-white fas fa-question"></i> FAQ's</span>
                    </a>
								
                </li>
				
				<li class="nav-item">
                    <a href="/center"   class="nav-link">
                        <span class="text-white nav-link-inner--text"><i class="text-white fas fa-hospital"></i> Centres</span>
                    </a>
								
                </li>
				
				<li class="nav-item">
                    <a href="/contact"   class="nav-link">
                        <span class="text-white nav-link-inner--text"><i class="text-white fas fa-address-card "></i> Contact</span>
                    </a>
								
                </li>
        </ul>
		 <span class="navbar-tex text-white">
            <a data-toggle="modal" data-target="#loginModal">
              <i class="fas fa-solid fa-registered"> </i> Register
            </a>
          </span>
		  
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  
  
<div class="wrapper bg-gradient-primary" >


    <header class="jumbotron bg-gradient-warning">
      <div class="container">
        <div class="row row-header">
          <div class="col-12 col-sm-6">
            <h1>xSpark-Blood Bank</h1>
            <p class="text-white">
              We are proud that we are life givers to the people who are need in
              blood!
            </p>
            <div class="cg">
              <div class="card card-body bg-gradient-success">
                <blockquote cite="blockquote">
                  <h6 class="mb-0 text-dark"><em><b>Blood is life, pass it on.</b></em></h6><br>
                
                  <footer class="blockquote-footer vg text-dark">A Noble Being</footer>
                </blockquote>
              </div>
            </div>
    
          </div>
          <div class="col-12 col-sm-3 offset-sm-2 align-self-center">
            <img src="blood.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </header>

   
<!-- ======================================================================================================================================== -->
    <div class="container tg " >
	
	<div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <span class="badge badge-primary badge-pill mb-3">Info</span>
                    <h3 class="display-3 ">Guidelines</h3>
                </div>
            </div>
			
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-12">
          <div id="accordion">
              <div class="card">
                  <div class="card-header" role="tab" id="agumbehead">
                    <h3 class="mb-0">
                      <a data-toggle="" data-target="#agumbe">
                        Blood bank and Donation</a
                      >
                    </h3>
                  </div>
      
                  <div
                    role="tabpanel"
                    class="show"
                    id="agumbe"
                    data-parent="#accordion"
                  >
                    <div class="card-body">
                      <p class="">
                          A blood bank is a place designed especially for the storage of blood and blood products. 
                          Large coolersholdthese products at a constant temperature and they are available at a moment's notice.
                          <br>
                          Donating blood is a life saving measure especially when 
                          you have a rare blood type. Blood donation issafeand simple. 
                          It takes only about 10 minutes to donate
                           blood - less than the time of an average telephonecall.
                           We can save upto 3 to 4 precious lives by donating blood.
                      </p>
                    </div>
                  </div>
                </div>
          
            <div class="card">
              <div class="card-header" role="tab" id="peterhead">
                <h3 class="mb-0">
                  <a data-toggle="" data-target="#peter">
                    Universal Donors and Recipients</a
                  >
                </h3>
              </div>
              <div
                role="tabpanel"
                class=" show"
                id="peter"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p class="">
                    The most common blood type is O, followed by type A. Type O
                    individuals are often called "universal donors" since their
                    blood can be transfused into personswithany blood type. Those
                    with type AB blood are called "universal recipients" because
                    they can receivebloodofany type. However, since approximately
                    twice as many people in the general population have O and A
                    blood types, abloodbank's need for this type of blood
                    increases exponentially.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="dannyhead">
                <h3 class="mb-0">
                  <a data-toggle="" data-target="#danny">
                    Before you donate blood, make sure you..
                  </a>
                </h3>
              </div>
  
              <div
                role="tabpanel"
                class="show"
                id="danny"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p class="">
                      <div class="row">
                          <div class="col-12 col-sm-6">
                      <ul class="list-group">
                          <li class="list-group-item">Who Can</li>
                        
                          
                          <li class="list-group-item list-group-item-primary">You are between age group of 18-60 years.</li>
                          <li class="list-group-item list-group-item-secondary">Your weight is 45 kgs or more.</li>
                          <li class="list-group-item list-group-item-success">Your hemoglobin is 12.5 gm% minimum.</li>
                          <li class="list-group-item list-group-item-danger">Your last blood donation was 3 or more months earlier.</li>
                          <li class="list-group-item list-group-item-warning">You are healthy and have not suffered from malaria, typhoid or other transmissibledisease in the recent past.</li>
                         
                        </ul>
                      </div>
                      <div class="col-sm-6">
                          <ul class="list-group">
                              <li class="list-group-item">Who Cannot</li>
                            
                              
                              <li class="list-group-item list-group-item-primary">Cold / fever in the past 1 week.</li>
                              <li class="list-group-item list-group-item-secondary">Under treatment with antibiotics or any other medication.</li>
                              <li class="list-group-item list-group-item-success">Major surgery in the last 6 months.</li>
                              <li class="list-group-item list-group-item-danger">Had fainting attacks during last donation.</li>
                              <li class="list-group-item list-group-item-warning">Been tested positive for antibodies to HIV.</li>
                              <li class="list-group-item list-group-item-info">Have regularly received treatment with blood products.</li>
                              <li class="list-group-item list-group-item-light">Shared a needle to inject drugs/ have history of drug addiction.</li>
                            </ul>
                          </div>
                      </div>
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="albertohead">
                <h3 class="mb-0">
                  <a data-toggle="" data-target="#alberto">
                    5 REASONS TO GIVE BLOOD</a
                  >
                </h3>
              </div>
              <div
                role="tabpanel"
                class=" show"
                id="alberto"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p class="">
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-primary">1/3 of us will need a blood transfusion in our lifetime.</li>
                              <li class="list-group-item list-group-item-secondary">3 lives can be saved with the amount of blood donated in one sitting.</li>
                              <li class="list-group-item list-group-item-success">Every 2 seconds someone in India needs blood.</li>
                              <li class="list-group-item list-group-item-danger">62 countries get sufficient blood supplies from voluntary donations.</li>
                              <li class="list-group-item list-group-item-warning">36 hours. The time it takes to naturally replace blood lost from the body.</li>
  
                    </ul>
                  </p>
                </div>
              </div>
            </div>
           
            <div class="card">
                <div class="card-header" role="tab" id="shuhead">
                  <h3 class="mb-0">
                    <a data-toggle="" data-target="#shu">
                        Post Donation care-Care that a donor should take after donating blood. </a
                    >
                  </h3>
                </div>
                <div
                  role="tabpanel"
                  class=" show"
                  id="shu"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <p class="">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-primary">Eat and Drink  the refreshment provided before leaving the blood bank
                            Drink more liquids than usual in next 4 hours</li>
                                <li class="list-group-item list-group-item-secondary">Avoid consuming alcohol until you have eaten something</li>
                                <li class="list-group-item list-group-item-success">Avoid climbing stairs for next 30 minutes</li>
                                <li class="list-group-item list-group-item-danger">If there is bleeding from the phlebotomy site, raise the arm and apply pressure</li>
                                <li class="list-group-item list-group-item-warning">If fainting or dizziness occurs, either lie down or sit with the head between the knees</li>
    
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
  
           
          
          </div>
        </div>
      </div>
      </div>

<!-- ======================================================================================================================================== -->
		
	
<footer class="footer " id="bottom">

    <div class="container">
      <div class="row row-grid align-items-center mb-5">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for Donating Blood!</h3>
          <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
        <div class="col-lg-4 text-lg-right btn-wrapper social-network">
				                    
                <span>
                  <a href="mailto:eattendance1999@gmail.com?subject=EAttendance" data-toggle="tooltip" data-original-title="Mail Us"><i class="fa-lg fas fa-envelope"></i></a>
                </span>
                <span>
                  <a href="https://twitter.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i class="fa-lg  fab fa-twitter"></i></a>
                </span>
                <span>
                  <a href="https://www.linkedin.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i class="fa-lg  fab fa-linkedin"></i></a>
                </span>
                <span>
                  <a href="https://www.instagram.com/" target="blank" data-toggle="tooltip" data-original-title="Like Us"><i class="fa-lg fab fa-instagram"></i></a>
                </span>
                <span>
                  <a href="https://github.com/ab007shetty/" target="blank" data-toggle="tooltip" data-original-title="Star on Github"><i class="fa-lg  fab fa-github"></i></a>
                </span>      
        
        </div>
              <div class="col-lg-2">
                <a  href=""  >
              <img class="img img-fluid img-responsive" width="100%" src="play.png">
          </a>
      </div>

      </div>
      <hr >
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2021 <a href="/" target="_blank">BLOOD BANK</a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="/" class="nav-link" >BLOOD BANK</a>
            </li>
            <li class="nav-item">
              <a href="/faq" class="nav-link" >FAQ</a>
            </li>
            <li class="nav-item">
              <a href="/bank" class="nav-link" >Donar List</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>	

<!-- ======================================================================================================================================== -->

</div>

   <!-- MODALS HERE -->

	<div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Register here for Blood Donation</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body bg-gradient-info">
		  
		<form class="col s12 l5 white-text" action="/register" method="POST" autocomplete="new-password">
            <div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label text-white">Full Name</label>
            <div class="col-md-10">
              <input autocomplete="new-password" class="form-control" required placeholder="Name" id="first_name"
				name="name" type="text" class="validate">
              </div>
            </div>
			
            <div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label text-white" for="blood">Blood Group</label>
              <div class="col-md-10">
               <select name="blood" id="blood" class="validate form-control" required>
							<option value="">Select</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="O">O</option>
							<option value="AB">AB</option>
				</select>
              </div>
            </div>
			
            <div class="form-group row">
				<label for="firstname" class="col-md-2 col-form-label text-white" for="rh">RH Factor</label>
              <div class="col-3">
               <label>
				<input class="  form-control" value="+" name="rh" type="radio" required />
			<span class="text-white">Positive</span>
			</label>
              </div>
			  
              <div class="col-3">
                <label>
				<input class=" form-control" value="-" name="rh" type="radio" required />
				<span class="text-white">Negetive</span>
				</label>
              </div>
            </div>
			
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-white">Phone</label>
                <div class="col-md-10">
                  <input
                    autocomplete="new-password"
                    class="white-text form-control"
                    required
                    placeholder="Contact Number"
                    id="phone"
                    name="phone"
                    type="text"
                    pattern="[6789][0-9]{9}"
                    class="validate"
                  />
                </div>
              </div>
			  
			  <div class="form-group row">
                <label class="col-md-2 col-form-label text-white" for="email" >Email</label>
                <div class="col-md-10">
                  <input
                    autocomplete="new-password"
                    class="white-text validate form-control"
                    placeholder="Email Address"
                    id="email"
                    name="email"
                    type="email"
					class="validate"
                  />
                </div>
              </div>
			
			 <div class="form-group row">
				<label class="col-md-2 col-form-label text-white" for="city">District</label>
              <div class="col-md-10">
               <input type="text" name="city" id="city" class="validate form-control" required placeholder="District ">					
              </div>
            </div>
			
			 <div class="form-group row">
				<label for="address" class="col-md-2 col-form-label text-white">Address</label>
              <div class="col-md-10">
               <textarea autocomplete="new-password" maxlength="80" id="address" placeholder="Enter your Address"
				name="address" class="materialize-textarea white-text validate form-control" required></textarea>
              </div>
            </div>
							
            <div class="form-group row">
              <div class="offset-md-2 col-md-10">				
               <button class="btn  btn-success form-control" type="submit">Register</button>										
              </div>
            </div>
          </form>
			
          </div>
        </div>
      </div>
    </div>
	

  <!-- Core -->
	<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 
 	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	<script src="https://use.fontawesome.com/ee1c3da296.js"></script>
</body>

</html>