<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/png" href="blood.png" />
    <title>BLOOD BANK</title>

    <!--     Fonts and icons     -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css "
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />

    <!--     Weglot     -->

    <script
      type="text/javascript"
      src="https://cdn.weglot.com/weglot.min.js"
    ></script>
    <script>
      Weglot.initialize({
        api_key: "wg_b315629468470fd1230c5a1bec6c00575",
      });
    </script>


	  <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
		<script>
			Weglot.initialize({
				api_key: 'wg_b315629468470fd1230c5a1bec6c00575'
			});
		</script>
		
		<!-- Customerly Live Chat Snippet Code -->
<script>
     !function(){var e=window,i=document,t="customerly",n="queue",o="load",r="settings",u=e[t]=e[t]||[];if(u.t){return void u.i("[customerly] SDK already initialized. Snippet included twice.")}u.t=!0;u.loaded=!1;u.o=["event","attribute","update","show","hide","open","close"];u[n]=[];u.i=function(t){e.console&&!u.debug&&console.error&&console.error(t)};u.u=function(e){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(e),u[n].push(t),u}};u[o]=function(t){u[r]=t||{};if(u.loaded){return void u.i("[customerly] SDK already loaded. Use customerly.update to change settings.")}u.loaded=!0;var e=i.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://messenger.customerly.io/launcher.js";var n=i.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};u.o.forEach(function(t){u[t]=u.u(t)})}();
    
     customerly.load({
           "app_id": "96549d39"
     });
</script>
<!-- End of Customerly Live Chat Snippet Code -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	
	<script type="text/javascript">
		$(document).ready( () => {

			$( "#form1" ).submit( (event) => {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: (response) => {
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout( () => {
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: () => {
         				}
         			})
			});
		});
	</script>
    <link href="footer.css" rel="stylesheet" />

    <link rel="stylesheet" href="creativetim.min.css" type="text/css" />
  </head>

  <body class="bg-white" id="top">
    <!-- Navbar -->
    <nav
      id="navbar-main"
      class="
        navbar navbar-main navbar-expand-lg
        bg-default
        navbar-light
        position-sticky
        top-0
        shadow
        py-0
      "
    >
      <div class="container">
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="/" class="navbar-brand mr-lg-5">
              <img class="img img-fluid img-responsive" src="blood.png" />
              <img class="img img-fluid img-responsive" src="nav.png" />
            </a>
          </li>
        </ul>

        <button
          class="navbar-toggler bg-white"
          type="button"
          data-toggle="collapse"
          data-target="#navbar_global"
          aria-controls="navbar_global"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="navbar-collapse collapse bg-default" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-10 collapse-brand">
                <a href="/">
                  <img src="nav.png" />
                </a>
              </div>
              <div class="col-2 collapse-close bg-danger">
                <button
                  type="button"
                  class="navbar-toggler"
                  data-toggle="collapse"
                  data-target="#navbar_global"
                  aria-controls="navbar_global"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>

          <ul class="navbar-nav align-items-lg-center ml-auto">


            <li class="nav-item">
              <a href="/guidelines" class="nav-link">
                <span class="text-white nav-link-inner--text"
                  ><i class="text-white fas fa-heart"></i> Guidelines</span
                >
              </a>
            </li>

            <li class="nav-item">
              <a href="/faq" class="nav-link">
                <span class="text-white nav-link-inner--text"
                  ><i class="text-white fas fa-question"></i> FAQ's</span
                >
              </a>
            </li>

            <li class="nav-item">
              <a href="/center" class="nav-link">
                <span class="text-white nav-link-inner--text"
                  ><i class="text-white fas fa-hospital"></i> Centres</span
                >
              </a>
            </li>

            <li class="nav-item">
              <a href="/contact" class="nav-link">
                <span class="text-white nav-link-inner--text"
                  ><i class="text-white fas fa-address-card"></i> Contact</span
                >
              </a>
            </li>
				  
          <li class="navbar-tex text-white">
            <a data-toggle="modal" data-target="#signup">
              <i class="fas fa-solid fa-user-plus"> </i> Sign Up
            </a>
          </li>
		  
		  <li class="nav-item">
              <a href="/login" class="nav-link">
                <span class="text-white nav-link-inner--text"
                  ><i class="text-white fas fa-sign-in-alt"></i> Login</span
                >
              </a>
            </li>
			
		    </ul>
		  
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div class="wrapper">
      <header class="jumbotron bg-gradient-warning">
        <div class="container">
          <div class="row row-header">
            <div class="col-12 col-sm-6">
              <h1>xSpark-LifeShare</h1>
              <p class="text-white">
                We are proud that we are life givers to the people who are need
                in blood!
              </p>
              <div class="cg">
                <div class="card card-body bg-gradient-info">
                  <blockquote cite="blockquote">
                    <h6 class="mb-0 text-dark">
                      <em
                        ><b
                          >Blessed are the young who can give life with their
                          blood.</b
                        ></em
                      >
                    </h6>
                    <br />

                    <footer class="blockquote-footer vg text-dark">
                      A Noble Being
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-3 offset-sm-2 align-self-center">
              <img src="blood.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </header>

	    
	 <!-- ======================================================================================================================================== -->
      <div class="section features-6 text-dark bg-white" id="services">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <span class="badge badge-primary badge-pill mb-3">Insight</span>
              <h3 class="display-3">Services</h3>
              <h5 class="">We Offer Services to both Donors and Recipients.</h5>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="info info-horizontal info-hover-danger">
                <div class="description pl-4">
                  <h3 class="title">For Donors</h3>
                  <p class="">
                    The volunteers who wish to donate their blood can register
                    in this website by filling the basic details and the type of
                    blood they are willing to donate.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal info-hover-danger mt-5">
                <div class="description pl-4">
                  <h3 class="">For Recipients</h3>
                  <p class="">
                    The patients who are in grave need of blood can simply visit
                    our website and see the available blood in the hospital in
                    the district which is covered by our platform.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-10 mx-md-auto d-none d-md-block">
              <img class="ml-lg-5" src="pic1.png" width="100%" />
            </div>
          </div>
        </div>
      </div>

      <!-- ======================================================================================================================================== -->

      <div class="section features-2 text-dark bg-white" id="features">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-8 mr-auto text-left">
              <div class="pr-md-5">
                <div
                  class="
                    icon icon-lg icon-shape icon-shape-primary
                    shadow
                    rounded-circle
                    mb-5
                  "
                >
                  <i class="fad fa-cube"> </i>
                </div>
                <h3 class="display-3 ">Features</h3>
                <p class="text-justify">
                  Simplifies and automates the process of searching for blood in
                  case of emergency and maintain the records of the Blood
                  donors, recipients and blood stock in the bank, Donor
                  Management, Donor Test Results Management,Blood Components
                  Management, Patient Management,
                </p>

                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-primary mr-3">
                          <i class="ni ni-settings-gear-65"> </i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Guidelines.</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-primary mr-3">
                          <i class="ni ni-html5"> </i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Faster & Responsive website.</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-primary mr-3">
                          <i class="ni ni-settings-gear-65"> </i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">User Friendly.</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-primary mr-3">
                          <i class="ni ni-satisfied"> </i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Easy Access.</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 pl-md-0">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-info shadow">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-white
                        shadow
                        rounded-circle
                        text-primary
                      "
                    >
                      <i class="fas fa-tasks text-info"> </i>
                    </div>
                    <h5 class="info-title text-white">Multi Use</h5>
                    <p class="description">
                      Not just Search for blood banks, you can also Donate using
                      this platform.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-danger info-raised shadow">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-white
                        shadow
                        rounded-circle
                        text-primary
                      "
                    >
                      <i class="fad fa-splotch text-danger"> </i>
                    </div>
                    <h5 class="info-title text-white">Awesome Design</h5>
                    <p class="description">
                      A Good Interactive Web Interfce for Users. We Know you can
                      Feel this.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 d-none d-md-block">
                  <div class="info text-left bg-default shadow">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-white
                        shadow
                        rounded-circle
                        text-primary
                      "
                    >
                      <i class="fas fa-cogs text-default"> </i>
                    </div>
                    <h5 class="info-title text-white">Great Performance</h5>
                    <p class="description">
                      We optimised the website for faster response, especially
                      by reducing the usage of JavScript, and many more.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-primary shadow">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-white
                        shadow
                        rounded-circle
                        text-primary
                      "
                    >
                      <i class="fas fa-users text-primary"> </i>
                    </div>
                    <h5 class="info-title text-white">User Friendly</h5>
                    <p class="description">
                      Clean and great friendly User Interface to access all the
                      features easily both for donors and receivers.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 d-none d-md-block">
                  <div class="info text-left bg-warning info-raised shadow">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-white
                        shadow
                        rounded-circle
                        text-primary
                      "
                    >
                      <i class="fad fa-book-open text-warning"> </i>
                    </div>
                    <h5 class="info-title text-white">
                      In-Depth Documentation
                    </h5>
                    <p class="description">
                      Allows good documentation about the donor and their blood
                      donation activites.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 d-none d-md-block">
                  <div class="info text-left bg-success shadow">
                    <div
                      class="
                        icon icon-shape
                        bg-gradient-white
                        shadow
                        rounded-circle
                        text-primary
                      "
                    >
                      <i class="fad fa-hospitals text-success"> </i>
                    </div>
                    <h5 class="info-title text-white">Centres</h5>
                    <p class="description">
                      Provides information<br />
                      about the various blood donation centres in one click to
                      the users.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span> </span>
      </div>

      <!-- Page Content -->

      <div class="section features-6 text-dark bg-white d-none" id="tech">
        <div class="container-fluid shado">
          <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <span class="badge badge-primary badge-pill mb-3">stack</span>
              <h3 class="display-3">Technologies Used</h3>
              <p class="">Our Development Stack</p>
            </div>
          </div>

          <div class="row text-lg-center align-self-center">
            <div class="col-md-4">
              <div class="info">
                <img class="img-fluid" src="bootstrap.png" alt="BootStrap4" />
                <h6 class="info-title text-uppercase text-primary">
                  BootStrap4
                </h6>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <img class="img-fluid" src="node.png" alt="NodeJS" />
                <h6 class="info-title text-uppercase text-primary">NodeJS</h6>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info">
                <img class="img-fluid" src="mongodb.png" alt="MongoDB" />
                <h6 class="info-title text-uppercase text-primary">MongoDB</h6>
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-md-4 d-none d-md-block">
              <div class="info">
                <img class="img-fluid" src="js.png" alt="JavaScript" />
                <h6 class="info-title text-uppercase text-primary">
                  JavaScript
                </h6>
              </div>
            </div>

            <div class="col-md-4 d-none d-md-block">
              <div class="info">
                <img class="img-fluid" src="express.png" alt="Express" />
                <h6 class="info-title text-uppercase text-primary">Express</h6>
              </div>
            </div>

            <div class="col-md-4 d-none d-md-block">
              <div class="info">
                <img class="img-fluid" src="html.png" alt="HTML5" />
                <h6 class="info-title text-uppercase text-primary">HTML5</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ======================================================================================================================================== -->

      <footer class="footer" id="bottom">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3883.5330441266647!2d74.78288441479593!3d13.254595190670685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbcaffcb81452c5%3A0xb18b6b77e04b088b!2sShri%20Madhwa%20Vadiraja%20Institute%20of%20Technology%20and%20Management!5e0!3m2!1sen!2sin!4v1607248157784!5m2!1sen!2sin"
          width="100%"
          height="470"
          frameborder="0"
          style="border: 2px solid black"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>

        <div class="container">
          <div class="row row-grid align-items-center mb-5">
            <div class="col-lg-6">
              <h3 class="text-primary font-weight-light mb-2">
                Thank you for Donating Blood!
              </h3>
              <h4 class="mb-0 font-weight-light">
                Let's get in touch on any of these platforms.
              </h4>
            </div>
            <div class="col-lg-4 text-lg-right btn-wrapper social-network">
              <span>
                <a
                  href="mailto:eattendance1999@gmail.com?subject=EAttendance"
                  data-toggle="tooltip"
                  data-original-title="Mail Us"
                  ><i class="fa-lg fas fa-envelope"></i
                ></a>
              </span>
              <span>
                <a
                  href="https://twitter.com/"
                  target="blank"
                  data-toggle="tooltip"
                  data-original-title="Follow Us"
                  ><i class="fa-lg fab fa-twitter"></i
                ></a>
              </span>
              <span>
                <a
                  href="https://www.linkedin.com/"
                  target="blank"
                  data-toggle="tooltip"
                  data-original-title="Follow Us"
                  ><i class="fa-lg fab fa-linkedin"></i
                ></a>
              </span>
              <span>
                <a
                  href="https://www.instagram.com/"
                  target="blank"
                  data-toggle="tooltip"
                  data-original-title="Like Us"
                  ><i class="fa-lg fab fa-instagram"></i
                ></a>
              </span>
              <span>
                <a
                  href="https://github.com/ab007shetty/"
                  target="blank"
                  data-toggle="tooltip"
                  data-original-title="Star on Github"
                  ><i class="fa-lg fab fa-github"></i
                ></a>
              </span>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
              <a href="">
                <img
                  class="img img-fluid img-responsive"
                  width="100%"
                  src="play.png"
                />
              </a>
            </div>
          </div>
          <hr />
          <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
              <div class="copyright">
                &copy; 2021 <a href="/" target="_blank">BLOOD BANK</a>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="nav nav-footer justify-content-end">
                <li class="nav-item">
                  <a href="/" class="nav-link">BLOOD BANK</a>
                </li>
                <li class="nav-item">
                  <a href="/faq" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="/bank" class="nav-link">Donar List</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a
          href="#top"
          id="toTopBtn"
          class="
            cd-top
            text-replace
            js-cd-top
            cd-top--is-visible cd-top--fade-out
          "
          data-abc="true"
        ></a>
      </footer>

      <!-- ======================================================================================================================================== -->
    </div>

    <!-- MODALS HERE -->
	
	<div id="signup" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sign Up - Create an Account</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body bg-gradient-info">
		  

		<div class="form-group">
			<form id="form1" method="post">
				<input type="email" name="email" placeholder="E-mail" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"><br/>
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>
		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	
			
          </div>
        </div>
      </div>
    </div>

    <!-- Core -->
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://use.fontawesome.com/ee1c3da296.js"></script>
  </body>
</html>
