<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
	<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css "/>
	
	<link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="blood.png" />

    <title>Blood Bank</title>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
        <a class="navbar-brand" href="#"
          ><img src="blood.png" height="30" width="41" alt=""
        /></a>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                ><span class="fa fa-home fa-lg"></span> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"
                ><span class="fa fa-info fa-lg"></span> About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><span class="fa fa-users fa-lg"></span> Donor</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"
                ><span class="fa fa-address-card fa-lg"></span> Contact</a
              >
            </li>
          </ul>
          <span class="navbar-text">
            <a data-toggle="modal" data-target="#loginModal">
              <span class="fa fa-sign-in"></span>Register
            </a>
          </span>
        </div>
      </div>
    </nav>

    <header class="jumbotron">
      <div class="container">
        <div class="row row-header">
          <div class="col-12 col-sm-6">
            <h1>xSpark-Blood bank</h1>
            <p>
              We are proud that we are life givers to the people who are need in
              blood!
            </p>
            <div class="cg">
              <div class="card card-body bg">
                <blockquote cite="blockquote">
                  <p class="mb-0"><em>Blessed are the young who can give life with their blood.</em><br>
                
                  <footer class="blockquote-footer vg">A Noble Being</footer>
                </blockquote>
              </div>
            </div>
    
          </div>
          <div class="col-12 col-sm-3 offset-sm-2 align-self-center">
            <img src="blood.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </header>

    <div class="container tg" >
      <div class="row row-content align-items-center">
          <div class="col-12 col-sm-12">
        <div id="accordion">
            <div class="card">
                <div class="card-header" role="tab" id="agumbehead">
                  <h3 class="mb-0">
                    <a data-toggle="" data-target="#agumbe">
                      Blood bank and Donation</a
                    >
                  </h3>
                </div>
    
                <div
                  role="tabpanel"
                  class="show"
                  id="agumbe"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <p class="d-none d-sm-block">
                        A blood bank is a place designed especially for the storage of blood and blood products. 
                        Large coolersholdthese products at a constant temperature and they are available at a moment's notice.
                        <br>
                        Donating blood is a life saving measure especially when 
                        you have a rare blood type. Blood donation issafeand simple. 
                        It takes only about 10 minutes to donate
                         blood - less than the time of an average telephonecall.
                         We can save upto 3 to 4 precious lives by donating blood.
                    </p>
                  </div>
                </div>
              </div>
        
          <div class="card">
            <div class="card-header" role="tab" id="peterhead">
              <h3 class="mb-0">
                <a data-toggle="" data-target="#peter">
                  Universal Donors and Recipients</a
                >
              </h3>
            </div>
            <div
              role="tabpanel"
              class=" show"
              id="peter"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p class="d-none d-sm-block">
                  The most common blood type is O, followed by type A. Type O
                  individuals are often called "universal donors" since their
                  blood can be transfused into personswithany blood type. Those
                  with type AB blood are called "universal recipients" because
                  they can receivebloodofany type. However, since approximately
                  twice as many people in the general population have O and A
                  blood types, abloodbank's need for this type of blood
                  increases exponentially.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="dannyhead">
              <h3 class="mb-0">
                <a data-toggle="" data-target="#danny">
                  Before you donate blood, make sure you..
                </a>
              </h3>
            </div>

            <div
              role="tabpanel"
              class="show"
              id="danny"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p class="d-none d-sm-block">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item">Who Can</li>
                      
                        
                        <li class="list-group-item list-group-item-primary">You are between age group of 18-60 years.</li>
                        <li class="list-group-item list-group-item-secondary">Your weight is 45 kgs or more.</li>
                        <li class="list-group-item list-group-item-success">Your hemoglobin is 12.5 gm% minimum.</li>
                        <li class="list-group-item list-group-item-danger">Your last blood donation was 3 or more months earlier.</li>
                        <li class="list-group-item list-group-item-warning">You are healthy and have not suffered from malaria, typhoid or other transmissibledisease in the recent past.</li>
                       
                      </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item">Who Cannot</li>
                          
                            
                            <li class="list-group-item list-group-item-primary">Cold / fever in the past 1 week.</li>
                            <li class="list-group-item list-group-item-secondary">Under treatment with antibiotics or any other medication.</li>
                            <li class="list-group-item list-group-item-success">Major surgery in the last 6 months.</li>
                            <li class="list-group-item list-group-item-danger">Had fainting attacks during last donation.</li>
                            <li class="list-group-item list-group-item-warning">Been tested positive for antibodies to HIV.</li>
                            <li class="list-group-item list-group-item-info">Have regularly received treatment with blood products.</li>
                            <li class="list-group-item list-group-item-light">Shared a needle to inject drugs/ have history of drug addiction.</li>
                          </ul>
                        </div>
                    </div>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="albertohead">
              <h3 class="mb-0">
                <a data-toggle="" data-target="#alberto">
                  5 REASONS TO GIVE BLOOD</a
                >
              </h3>
            </div>
            <div
              role="tabpanel"
              class=" show"
              id="alberto"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p class="d-none d-sm-block">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">1/3 of us will need a blood transfusion in our lifetime.</li>
                            <li class="list-group-item list-group-item-secondary">3 lives can be saved with the amount of blood donated in one sitting.</li>
                            <li class="list-group-item list-group-item-success">Every 2 seconds someone in India needs blood.</li>
                            <li class="list-group-item list-group-item-danger">62 countries get sufficient blood supplies from voluntary donations.</li>
                            <li class="list-group-item list-group-item-warning">36 hours. The time it takes to naturally replace blood lost from the body.</li>

                  </ul>
                </p>
              </div>
            </div>
          </div>
              
        </div>
      </div>
    </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-4 offset-1 col-sm-2">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="./aboutus.html">About</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="./contactus.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-7 col-sm-5">
            <h5>Our Address</h5>
            <address>
              Shri Madhwa Vadiraja Institute Of technology<br />
             Bantakal<br />
             UDUPI<br />
              <i class="fa fa-phone fa-lg"></i>: +91 1234 5678<br />
              <i class="fa fa-fax fa-lg"></i>: +91 8765 4321<br />
              <i class="fa fa-envelope fa-lg"></i>:
              <a href="mailto:ab007shetty@gmail.com">xspark@gmail.com</a>
            </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a
                class="btn btn-social-icon btn-google"
                href="http://google.com/+"
                ><i class="fa fa-google-plus fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-facebook"
                href="http://www.facebook.com/profile.php?id="
                ><i class="fa fa-facebook fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="http://www.linkedin.com/in/"
                ><i class="fa fa-linkedin fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><i class="fa fa-twitter fa-lg"></i
              ></a>
              <a
                class="btn btn-social-icon btn-google"
                href="http://youtube.com/"
                ><i class="fa fa-youtube fa-lg"></i
              ></a>
              <a class="btn btn-social-icon" href="mailto:"
                ><i class="fa fa-envelope-o fa-lg"></i
              ></a>
            </div>
          </div>
        </div>
        
      </div>
    </footer>
	
	     <!-- MODALS HERE -->

	<div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body bg-info">
		  
		<form class="col s12 l5 white-text" action="/register" method="POST" autocomplete="new-password">
            <div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label text-white">Full Name</label>
            <div class="col-md-10">
              <input autocomplete="new-password" class="form-control" required placeholder="Name" id="first_name"
				name="name" type="text" class="validate">
              </div>
            </div>
			
            <div class="form-group row">
			<label for="firstname" class="col-md-2 col-form-label text-white" for="blood">Blood Group</label>
              <div class="col-md-10">
               <select name="blood" id="blood" class="validate form-control" required>
							<option value="">Select</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="O">O</option>
							<option value="AB">AB</option>
				</select>
              </div>
            </div>
			
            <div class="form-group row">
				<label for="firstname" class="col-md-2 col-form-label text-white" for="rh">RH Factor</label>
              <div class="col-3">
               <label>
				<input class="  form-control" value="+" name="rh" type="radio" required />
			<span class="text-white">Positive</span>
			</label>
              </div>
			  
              <div class="col-3">
                <label>
				<input class=" form-control" value="-" name="rh" type="radio" required />
				<span class="text-white">Negetive</span>
				</label>
              </div>
            </div>
			
            <div class="form-group row">
			<label class="col-md-2 col-form-label text-white">Phone</label>
              <div class="col-md-10">
               <input autocomplete="new-password" class="white-text form-control" required placeholder="Contact Number" id="phone"
				name="phone" type="text" pattern="[789][0-9]{9}" class="validate">
              </div>
            </div>
			
			 <div class="form-group row">
				<label class="col-md-2 col-form-label text-white" for="city">City</label>
              <div class="col-md-10">
               <input type="text" name="city" id="city" class="validate form-control" required placeholder="District ">					
              </div>
            </div>
			
			 <div class="form-group row">
				<label for="address" class="col-md-2 col-form-label text-white">Address</label>
              <div class="col-md-10">
               <textarea autocomplete="new-password" maxlength="80" id="address" placeholder="Enter your Address"
				name="address" class="materialize-textarea white-text validate form-control" required></textarea>
              </div>
            </div>
							
            <div class="form-group row">
              <div class="offset-md-2 col-md-10">				
               <button class="btn  btn-success form-control" type="submit">Register</button>										
              </div>
            </div>
          </form>
			
          </div>
        </div>
      </div>
    </div>
	
     <!-- jQuery first, then Popper.js, then Bootstrap JS. -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 
 	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	<script src="https://use.fontawesome.com/ee1c3da296.js"></script>
	
  </body>
</html>
