.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #e27979;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: rgb(230, 96, 96);
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background: #530202;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.carousel {
  background: #512dab;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.bg {
  background-color: #876bd6;
}

.vg {
  color: #0f0f0f;
}

.cg {
  padding-top: 20px;
}

h3::first-letter {
  font-size: 40px;
  font-family: serif;
  font-weight: bolder;
  color: crimson;
}
.h3 {
  font-size: 30;
}

.tg {
  background: #e9c8c8;
}
