@@ -1,56 +0,0 @@
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: rgb(230, 96, 96);
  color: floralwhite;
}
.adress {
  font-size: 80%;
  margin: 0px auto;
  color: black;
}
body {
  padding: 50px 0px 0px 0px;
  z-idex: 0;
}
.navbar-dark {
  background-color: #530202;
}
.btn-info {
  background-color: turquoise;
}
.btn-bla {
  background-color: tomato;
}
.btn-bla:hover {
  background-color: red;
}
h2::first-letter {
  font-size: 50px;
  font-family: serif;
  font-weight: bolder;
  color: crimson;
}
.h2 {
  font-size: 30;
}

img {
  float: left;
  padding: 20px;
}
